pipeline/Every other Week.json
{
	"name": "Every other Week",
	"properties": {
		"activities": [
			{
				"name": "Every other Weekly Data Flow Runs",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Every other Week",
						"type": "DataFlowReference",
						"parameters": {
							"FileNAme": {
								"value": "'@{variables('Transact File Name')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ILSEE3",
				"description": "Send an email thought Azure Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Every other Weekly Data Flow Runs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.southcentralus.logic.azure.com:443/workflows/d0e22226ef054a3b89f6fae46761781c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BOGZ5JNwLp-jnUGcklAj12xMaN9Y8r2RO-n0bQ3Yy5U",
					"method": "POST",
					"body": {
						"value": "@concat('{\"FileName\":\"ILSEE3.txt\",\"EMailTo\":\"Ty.Diedrickelectroenterprises.com;choodcna-consulting.com\",\"EmailSubject\":\"Electro Transactions Report\",\"PipeLineName\":\"Electro Transactions Report\",\"FilePath\":\"/datafactoryfiles/Transactions/',variables('Transact File Name'),'\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Transact File Name",
					"value": {
						"value": "@concat('Electro_Transaction_',formatDateTime(utcNow(),'MM_dd_yyyy'),'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Transact File Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}