pipeline/Every Sunday SFTP.json
{
	"name": "Every Sunday SFTP",
	"properties": {
		"activities": [
			{
				"name": "Every other Weekly Data Flow Runs",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Inventory File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Every Sunday SFTP",
						"type": "DataFlowReference",
						"parameters": {
							"FileNAme": {
								"value": "'@{variables('Transact File Name')}'",
								"type": "Expression"
							},
							"TransactionFile": {
								"value": "'@{variables('Transact File Name')}'",
								"type": "Expression"
							},
							"ItemFile": {
								"value": "'@{variables('Item File Name')}'",
								"type": "Expression"
							},
							"CustomerFile": {
								"value": "'@{variables('Customer File Name')}'",
								"type": "Expression"
							},
							"StockingFile": {
								"value": "'@{variables('Stocking File Name')}'",
								"type": "Expression"
							},
							"InventoryFile": {
								"value": "'@{variables('Inventory File Name')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "TRANSACTION SFTP",
				"description": "Send an email thought Azure Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Every other Weekly Data Flow Runs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.southcentralus.logic.azure.com:443/workflows/b88a4112ab134dc38be93e65dfccefe1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B762GsLRa2-Wnwb61vkJWtb20VykKWn7CoXyWV_5XVY",
					"method": "POST",
					"body": {
						"value": "@concat('{\"FileName\":\"',variables('Transact File Name'),'\",\"PipeLineName\":\"Electro Transfer Report\",\"FilePath\":\"/datafactoryfiles/Transfer/',variables('Transact File Name'),'\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Transact File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Transact File Name",
					"value": {
						"value": "@concat('Electro_Transaction_',formatDateTime(utcNow(),'MM_dd_yyyy'),'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Inventory File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stocking Items File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Inventory File Name",
					"value": {
						"value": "@concat('Electro_INVENTORY_',formatDateTime(utcNow(),'MM_dd_yyyy'),'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stocking Items File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Customer Master File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Stocking File Name",
					"value": {
						"value": "@concat('Electro_STOCKING_ITEMS_',formatDateTime(utcNow(),'MM_dd_yyyy'),'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Customer Master File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Item FIle Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Customer File Name",
					"value": {
						"value": "@concat('Electro_CUSTOMER_MASTER_',formatDateTime(utcNow(),'MM_dd_yyyy'),'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Item FIle Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Transact File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Item File Name",
					"value": {
						"value": "@concat('Electro_ITEM_MASTER_',formatDateTime(utcNow(),'MM_dd_yyyy'),'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ITEM SFTP",
				"description": "Send an email thought Azure Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "TRANSACTION SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.southcentralus.logic.azure.com:443/workflows/b88a4112ab134dc38be93e65dfccefe1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B762GsLRa2-Wnwb61vkJWtb20VykKWn7CoXyWV_5XVY",
					"method": "POST",
					"body": {
						"value": "@concat('{\"FileName\":\"',variables('Transact File Name'),'\",\"PipeLineName\":\"Electro Transfer Report\",\"FilePath\":\"/datafactoryfiles/Transfer/',variables('Item File Name'),'\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CUSTOMER SFTP",
				"description": "Send an email thought Azure Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ITEM SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.southcentralus.logic.azure.com:443/workflows/b88a4112ab134dc38be93e65dfccefe1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B762GsLRa2-Wnwb61vkJWtb20VykKWn7CoXyWV_5XVY",
					"method": "POST",
					"body": {
						"value": "@concat('{\"FileName\":\"',variables('Transact File Name'),'\",\"PipeLineName\":\"Electro Transfer Report\",\"FilePath\":\"/datafactoryfiles/Transfer/',variables('Customer File Name'),'\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Inventory SFTP",
				"description": "Send an email thought Azure Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "STOCKING SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.southcentralus.logic.azure.com:443/workflows/b88a4112ab134dc38be93e65dfccefe1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B762GsLRa2-Wnwb61vkJWtb20VykKWn7CoXyWV_5XVY",
					"method": "POST",
					"body": {
						"value": "@concat('{\"FileName\":\"',variables('Transact File Name'),'\",\"PipeLineName\":\"Electro Transfer Report\",\"FilePath\":\"/datafactoryfiles/Transfer/',variables('Inventory File Name'),'\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "STOCKING SFTP",
				"description": "Send an email thought Azure Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CUSTOMER SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.southcentralus.logic.azure.com:443/workflows/b88a4112ab134dc38be93e65dfccefe1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B762GsLRa2-Wnwb61vkJWtb20VykKWn7CoXyWV_5XVY",
					"method": "POST",
					"body": {
						"value": "@concat('{\"FileName\":\"',variables('Transact File Name'),'\",\"PipeLineName\":\"Electro Transfer Report\",\"FilePath\":\"/datafactoryfiles/Transfer/',variables('Stocking File Name'),'\"}')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Transact File Name": {
				"type": "String"
			},
			"Set Email Value": {
				"type": "String"
			},
			"Item File Name": {
				"type": "String"
			},
			"Customer File Name": {
				"type": "String"
			},
			"Stocking File Name": {
				"type": "String"
			},
			"Inventory File Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}